<div class="container">
<h2 class="header margin">Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label class="row margin">
      Email:
    </label>

      <input type="email" class="row form-control" name="email" formControlName="email">
  </div>
  <div >

    <label class="row margin">
      Password:
    </label>
      <input type="password" class="row form-control" name="password" formControlName="password">
  </div>
  <div *ngIf="errorMessage" class="row margin alert alert-danger">
    {{errorMessage}}
  </div>
  <div class="row">
    <button type="submit" class="btn btn-dark margin col-4 offset-4">Submit</button>
  </div>
</form>
</div>