.search {
  display: inline-block;
  width: 60%;
}
.row {
  margin-bottom: 0 5px;
  margin-top: 10px;
}
#edit {
  padding: 0;
}
.tag {
  font-size: 0.8rem;
  padding: 2px 4px;
  margin-top: 8px;
  margin-right: 9px;
  cursor: default !important;
}
.score {
  cursor: default !important;
}
.card {
  margin-top: 1em;
}
.card-text {
  padding-left: 10px;
  margin: auto 0;
}
.imdb-score{
  padding-top: 8px;
}
.fa-star{
  color: #ffc107;
}